<tech-stack>

Frontend:
Angular 21
Typescript
Tailwind 4

Backend:
Asp net web api
.net 8

Baza danych:
Postgres albo Mongo db

Komunikacja z ai:
open ai api

CI/CD i hosting:
docker compose
zaproponuj ci\cd
zaproponuj hosting


</tech-stack>

Dokonaj krytycznej lecz rzeczowej analizy czy <tech-stack> odpowiednio adresuje potrzeby @prd.md. Rozważ następujące pytania:
1. Czy technologia pozwoli nam szybko dostarczyć MVP?
2. Czy rozwiązanie będzie skalowalne w miarę wzrostu projektu?
3. Czy koszt utrzymania i rozwoju będzie akceptowalny?
4. Czy potrzebujemy aż tak złożonego rozwiązania?
5. Czy nie istnieje prostsze podejście, które spełni nasze wymagania?
6. Czy technologie pozwoli nam zadbać o odpowiednie bezpieczeństwo?